/* -------- */
/* This is the Whole CSS component for TabsWithArrows */
/* -------- */

.sectionWrapperTabs{
  position: relative;
  height: fit-content;
  width: 100%;

  display:flex;
  justify-content:center;
  scrollbar-width: none;

}

.btnsWrapperTabs{
  display:flex;
  justify-content:center;
  align-items:center;
  scrollbar-width: 0;
}

#outsiderTabs {
    height: 48px; /* For Halloween Campaign */
    /* max-height: 1000px; */
    width: 100%;
    /* overflow: scroll; */
    position: relative;
    /* white-space: nowrap; */
    overflow-x: scroll;
    display: inline-block;
    /* box-shadow: 20px 0 20px 0 grey; */
    /* background-color: aqua; */
  }
  @keyframes timeline {
    0% {
      right: 0px;
    }
    100% {
      right: 1000px;
    }
  }
  #outsiderTabs:hover {
    animation-play-state: paused;
  }
  #insiderTabs {
    position: absolute;
    display: inline-block;
    /* height: 100%; */
    height: auto;
    width: auto;
    /* overflow: hidden; */
    white-space: nowrap;
    object-fit: contain !important;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .eachDiv {
    /* height: 100%; */
    /* height: fit-content; */
    /* min-width: 120px; */
    width: 96px; 
    height: 96px;
    /* height: 4vh !important; */
    object-fit: contain !important;
    /* margin: 0 -2px; */
    margin: 0;
    display: inline-block;
    transition: width 0.2s;
  }
  
/* Buttons */
#button-left,
#button-right {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  z-index: 1000;
  color: black;
  /* height: 100%; */
  /* max-height: 1000px; */
  width: 32px;
  height:40px;
  border-radius: 4px;
  padding: 8px;
  background-color: #ECEFF199;
  /* opacity: 0.8; */
}
#button-left {
  left: 0;
}
#button-right {
  right: 0;
}
#button-right:hover {
  cursor: pointer;
  opacity: 0.7;
}
#button-left:hover {
  cursor: pointer;
  opacity: 0.7;
}