@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	margin: 0;
}
body {
	font-family: "Josefin Sans";
}

img {
	display: inline;
}

/* css for designed scrollbar start here */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #777;
}

.gradText{
	background: linear-gradient(119deg, #E598D8 0%, #2C346B 99.30%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* css for designed scrollbar ends here */