@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: -webkit-fill-available;
}

body {
	padding: 0;
	margin: 0;
}

.bp4-dark #root {
	background-color: #30404d;
}
#root {
	width: 100vw;
	height: 100%;
}
